body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  position: absolute;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.ip-info {
  width: 100%;
}

.ip-info h2 {
  font-family: 'Playfair Display';
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  margin-top: 5px;
}

.ip-info p {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #666;
}

.ip-address span, .location span, .country span, .region span, .isp span {
  font-weight: bold;
  color: #0099ff;
}

#player {
  display: flex;
}

#play-pause-button {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  align-items: center;
  padding: 8px; 
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
}
#play-pause-button:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
